* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 5rem;
    align-items: center;
    column-gap: 2rem;
    padding-right: 5rem;
}

.body-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 200px;
}

.search-bar {
    width: 40rem;
    height: 2.5rem;
    border-radius: 5rem;
    border-color: #ccc;
    border: solid 2px #CCC;
}

.search-btn {
    width: 10rem;
    height: 2rem;
    margin-top: 1rem;
    border: none;
    border-radius: .02rem;
    background-color: #f4f4f4;
}

.search-btn:hover {
    border: 1px solid #ccc;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#advanced-btn {
    background-color: blue;
    color: white;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

.advanced-search {
    width: 360px;
    height: 24px;
    border: 1px solid #ccc;
    border-radius: 2px;
    border-color: #ccc;
}

.advanced-search:focus {
    outline: 1px solid blue;
}

#adv-body-page {
    display: flex;
    flex-direction: column;
    padding: 100px 80px;
}

#style-search-button {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

#img-search,
#img-images {
    width: 20rem;
    padding-bottom: 1rem;
}

label {
    font-size: 18px;
}

a,
a:active {
    text-decoration: none;
    color: black;
}

#div-adv {
    display: grid;
    flex-direction: column;
    row-gap: 1rem;

}

#item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#item2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#item3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

#item4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

#item5 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#item6 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#item7 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

#item5 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}